*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

$primary-color: #b91c1c;
$secondary-color: #dc2626;
$main-white: #f8fafc;
$main-black: #121314;
$dm-color: #111111;

@import "mixin";

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Advent Pro", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: $main-white;
  color: $main-black;
}
.dark {
  background-color: $dm-color;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  width: 100%;
  // height: auto;
  height: 300px;
  background-image: url("../assets/images/lightheader.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;

  nav {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      background: linear-gradient(25deg, #f8fafc, #dc2626, #f8fafc);
      background-size: 400% 400%;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      animation: gradient 15s ease infinite;
    }

    .logo img {
      width: 50px;
    }
  }

  .light-toggler svg {
    width: 30px;
    color: $main-white;
  }

  .nav-left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-right {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 40px;
    }
  }

  hr {
    max-width: 1440px;
    margin: 0 auto;
    opacity: 0.3;
  }
}
